div.title span::before {
  content: "";
  display: block;
  margin-right: 3px;
  margin-bottom: 2px;
  width: 20px;
  height: 20px;
}
.icon-GoodsAndServises::before {
  background: url("/icon/sidebarMenu/open_box.svg") no-repeat center;
  background-size: 20px;
}
.icon-CustomersAndSuppliers::before {
  background: url("/icon/sidebarMenu/customers_and_suppliers.svg") no-repeat center;
  background-size: 20px;
}
.icon-Budget::before {
  background: url("/icon/sidebarMenu/budget.svg") no-repeat center;
  background-size: 20px;
}
.icon-Sales::before {
  background: url("/icon/sidebarMenu/sales.svg") no-repeat center;
  background-size: 20px;
}
.icon-Purchase::before {
  background: url("/icon/sidebarMenu/purchase.svg") no-repeat center;
  background-size: 20px;
}
.icon-Purse::before {
  background: url("/icon/sidebarMenu/purse.svg") no-repeat center;
  background-size: 20px;
}
.icon-Store::before {
  background: url("/icon/sidebarMenu/store.svg") no-repeat center;
  background-size: 20px;
}
.icon-Control::before {
  background: url("/icon/sidebarMenu/control.svg") no-repeat center;
  background-size: 20px;
}
.icon-Reports::before {
  background: url("/icon/sidebarMenu/reports.svg") no-repeat center;
  background-size: 20px;
}
